{% extends "bootstrap/base.html" %}
{% block title %}Tyler's Weather Station{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="{{ url_for('index') }}">KI7IQE Weather Station</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('observation') }}">Record Observation</a></li>
                    <li><a href="{{ url_for('api_usage') }}">API Usage</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
              {% for message in messages %}
                {% if "Error" not in message[1]: %}
                  <div class="alert alert-info">
                  <strong>Success! </strong> {{ message[1] }}
                  </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                  <div class="alert alert-warning">
                      {{ message[1] }}
                  </div>
                {% endif %}
              {% endfor %}
      {% endif %}
  {% endwith %}

  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}
</div>
{% endblock %}
