{% extends "base.html" %}
{% block app_content %}
        <form action="" class="form form-horizontal" method="post">
            {{ form.csrf }}

            <div class="input text">
                {{ form.key.label }} {{ form.key }}
                {{ form.obs.label }} {{ form.obs }}
            </div>
            <br>
            <div class="input submit">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </form>
{% endblock %}
