{% extends "base.html" %}
{% block app_content %}
  <h1 style="padding-top: 20px">Usage of the weather data API</h1>
  <p>The KI7IQE weather station provides basic functionality for downloading weather data collected by the station via API calls</p>
  <h2>Available data</h2>
  <ul class="list-group">
  <li class="list-group-item"><strong>Full Dataset:</strong> available at <a href="{{ url_for('get_data')}}">/wx/data</a></li>
  <li class="list-group-item"><strong>Latest Data:</strong> available at <a href="{{ url_for('get_latest')}}">/wx/data/latest</a></li>
  <li class="list-group-item"><strong>Record Observation</strong> available at <a href="{{ url_for('post_obs')}}">/wx/data/observation</a></li>
  <ul>
  <li class="list-group-item"><strong>Method:</strong> POST</li>
  <li class="list-group-item"><strong>Parameters:</strong>
    <ul>
      <li class="list-group-item">key=APPKEY</li>
      <li class="list-group-item">obs=OBSERVATION</li>
    </ul>
  </li>
  </ul>
  </ul>
  </p>
{% endblock %}
